.product-tile {
  text-align: center;

  &-header {
    img {
      max-width: 100%;
      width: 100%;
    }
  }

  @include media-breakpoint-up(lg) {
    .badge {
      display: inline-flex;
      position: absolute;
      margin-left: -86px;
      margin-top: 26px;
    }
  }

  .product-tile-title {
    font-size: 24px;
    margin-top: 20px;

    span:first-child {
      color: black;
      font-weight: 600;
    }

    span:last-child {
      font-weight: 600;
    }
  }

  .product-tile-subtitle {
    font-size: 20px;
  }

  .product-tile-content {
    p:first-child {
      text-decoration: line-through;
    }

    p:last-child {
      font-size: 24px;
      text-transform: uppercase;
    }

    p:last-child span {
      color: $brand-primary;
      font-weight: 600;
    }
  }
}
