.footer {
  &-primary {
    background: $main-bg;
    padding: 50px 0;
    color: $gray-tertiary;

    &-inner {
      display: grid;
      grid-template-areas:
        'nav'
        'contact'
        'connect';
      row-gap: 52px;

      @include media-breakpoint-up(lg) {
        grid-template-areas:
          'nav nav'
          'connect contact';
        row-gap: 24px;
        grid-template-columns: 340px 1fr;
      }
    }
  }

  &-nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    text-transform: uppercase;

    ul {
      width: 50%;
      color: $gray-tertiary;
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      row-gap: initial;
      column-gap: 88px;

      ul {
        width: auto;
      }
    }
  }

  &-contact {
    grid-area: contact;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;

    h1 span {
      font-weight: 500;
      color: $white;
    }

    h1 {
      font-size: 16px;
    }

    p {
      text-transform: initial;
      line-height: 22px;
    }

    a[href^='mailto:'] {
      color: $brand-primary;
    }
  }

  &-secondary {
    text-align: center;
    margin-top: 10px;
  }

  &-connect {
    grid-area: connect;
    justify-self: center;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;

    ul {
      display: flex;
      gap: 36px;
      text-align: center;
    }

    ul i[class*='fa-'] {
      color: $brand-primary;
      display: block;
      font-size: 36px;
    }

    @include media-breakpoint-up(lg) {
      justify-self: start;
      align-self: center;
    }
  }
}
