.header {
  &-secondary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  &-search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: center;

    ul {
      display: flex;
      gap: 16px;

      li:first-child {
        color: $brand-primary;
      }

      i[class*='fa-'] {
        font-size: 24px;
      }
    }
  }

  &-contact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    ul {
      display: flex;
      gap: 16px;
    }

    ul a {
      i[class*='fa-'] {
        color: $brand-primary;
      }
    }
  }

  &-controls {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;

    ul {
      i[class*='fa-'] {
        font-size: 24px;
      }
    }

    ul span {
      background-color: $brand-primary;
      color: $white;
      font-size: 14px;
      font-weight: 700;
      width: 21px;
      height: 21px;
      padding: 0 4px;
      border-radius: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -10px;
      right: -10px;
    }
  }

  &-logo {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    justify-self: center;

    img {
      max-width: 128px;
    }

    @include media-breakpoint-up(lg) {
      grid-row: 2 / 3;
    }
  }

  &-primary {
    .nav-primary {
      ul {
        display: flex;
        gap: 16px;
        justify-content: center;
      }

      a {
        display: block;
        padding: 8px 16px;
        font-weight: 300;
        line-height: 24px;
        font-size: 20px;
        text-transform: uppercase;
        border-radius: 24px;
        transition: color 0.2s linear, background-color 0.4s ease-in-out;

        &:hover {
          background: $brand-primary;
          color: $white;
        }
      }
    }

    .nav-secondary {
      ul {
        display: flex;
        justify-content: center;
        gap: 16px;
      }

      a {
        display: block;
        padding: 8px 16px;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        transition: color 0.2s linear, background-color 0.2s linear;
        text-decoration: none;

        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
}
